/*test*/
@import url('Style.css');
.error {
    
    color: red;
    /*margin-top: 5px;*/
    display: block;
}
#tblEmployees {
    width: 100vw;
}

.BgImg1 {
    background-image: url('/Images/restrationimgj.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.spnStar::after{
    content:" *";
    color:red;
}
.BGColor {
    background-color: whitesmoke;
    margin: 20px;
    width: 60%;
    padding: 20px;
    border-radius: 7px;
}
.btncontainer {
    display:flex;
    flex-direction:row;justify-content:center;
}
.btnmargin{
    margin:4px
}
.container {
    padding-right: 73px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: -17px;
}

.errorBorder {
    border: 1px solid red;
}